extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Jacki Bolt

        p.lead.text-light
          | Full Stack JavaScript, Front End and UX Developer.

        .portfolio-bio
          p 
            | I love to fill the space between ideas and reality. Identifying and chasing a goal is my runner's high.
          p 
            | I spent the first 10 years of my career coaching college field hockey; 
            | implementing effective team management strategies, creating, coordinating and balancing calendars and budgets for training and travel, all while developing a competitive, high-level training environment
            | for 25-30 athletes. 
          p 
            | Now, as Full Stack JavaScript, Front End, and UX Developer, my previous experiences give me the tools to not only build functioning websites and applications, 
            | but rather to understand the value and mission of your business in order to build an experience that meets your logistical needs, while helping you connect with your users. 

      .cell.portfolio-meta.small-6.medium-2.large-3      
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li JQuery
          li Express
          li SASS
          li Wordpress
          li Adobe Photoshop
          li Adobe XD
          li Adobe InDesign
        
        h6 Contact Info

        ul
          li 703-581-7309
          li bolt.jacqueline@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/jacquelineraithel/') LinkedIn
        a.button.expanded(href='https://github.com/jackibolt') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  